* {
    word-wrap: break-word;
}
body {
    background: #f7f7f7;
    font-family: 'Segoe UI','Segoe','Segoe WP','Helvetica','Tahoma','Microsoft YaHei','sans-serif';
}

body, input, select {
    font: 14px/1.5 'Segoe UI','Segoe','Segoe WP','Helvetica','Tahoma','Microsoft YaHei','sans-serif';
    color: #3E3E3E;
}

.wp {
    width: 1206px;
    box-sizing: border-box;
    margin: 0 auto;
}

.wp {
    max-width: 1050px;;
    min-width: 1206px;
}

.cl {
    zoom: 1;
}

.cl:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#pt {
    font-size: 16px;
    color: #6E7476;
    height: 46px;
    margin: 0;
    padding: 0 0 20px 120px;
    border-bottom: 1px solid #F1F2F3;
    margin-bottom: 20px;
    position: relative;
}
#pt {
    margin: 50px 0 0 -66px;
    height: 30px;
    border: none;
    background: transparent;
    line-height: 29px;
}
.bm {
    background: #f7f7f7;
}

#pt .z{
    margin: 9px 0 0 0;
    padding-right: 10px;
}

.z {
    float: left;
}

#pt .z a.nvhm {
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    height: 60px;
    text-indent: 56px;
    line-height: 50px;
    -webkit-background-size: 46px 46px;
}

#pt .z a, #pt .z em {
    float: left;
    height: 29px;
}
#pt a {
    color: #57bae8;
    text-decoration: none;
}
.nvhm {
    font-family: dzicon;
    text-align: center;
    font-size: 16px;
    overflow: hidden;
}
a {
    color: #333;
    text-decoration: none;
}

#pt .z em {
    width: 20px;
    height: 29px;
    text-align: center;
    color: #bdbdbd;
}

em {
    font-style: normal;
}

#ct.ct2_a {
    background: #f7f7f7 url(https://keylol.com/template/steamcn_metro/src/img//forum/vlineb.png) repeat-y;
}
#wp .wp {
    width: auto;
}

#ct {
    min-height: 300px;
}

.ct2_a {
    padding-left: 150px;
}

.ct2_a, .ct3_a {
    border: 1px solid #F7F7F7;
}

.ct2_a .mn {
    width: 95%;
    padding-top: 0;
    margin-right: 55px;
    display: inline;
    float: right;
}


.mn {
    overflow: hidden;
}


.bw0 {
    background: transparent;
    border: none !important;
}

.bm {
    margin-bottom: 10px;
}

.ct2_a h1.mt {
    display: none;
}
.mt {
    padding: 10px 0;
    font-size: 18px;
}

h1, h2 {
    font-weight: normal;
}

.ct2_a .tb {
    margin-top: 3px;
}
.tb {
    padding-left: 0;
}
.tb {
    margin-top: 30px;
    padding-left: 5px;
    line-height: 40px;
    border-bottom: 1px solid #F0F3F4;
}

ul, li, p, h2,form{
    margin: 0;
    padding: 0;
}
.tb li {
    float: left;
    margin: 0 3px -1px 0;
}

ul li {
    list-style: none;
}

.tb .a a {
    border-bottom-color: #FFF;
    background: #FFF;
    font-weight: 700;
}
.tb a {
    display: block;
    padding: 0 10px;
    border: 1px solid #F0F3F4;
    background: #FCFCFC;
}
.tfm {
    width: 95%;
}
table {
    empty-cells: show;
    border-collapse: collapse;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.tfm th {
    padding-top: 9px;
    padding-right: 5px;
    width: 130px;
}

.tfm th , .tfm td{
    vertical-align: top;
    padding: 7px 0;
}

th {
    text-align: left;
    font-weight: 400;
     font-size: 15px;
}

.px,.ps, select {
    background: none;
    border: 1px solid;
    border-color: #E4E4E4 #E0E0E0 #E0E0E0 #E4E4E4;
}
.ps, select {
    padding: 5px 5px 5px 4px;
}

.rq {
    color: red;
}
.mtn {
    margin-top: 5px !important;
}
.tfm .d {
    clear: both;
    margin: 5px 0;
    color: #999;
}
.tfm .p {
    text-align: right;
}

.tfm .pt, .tfm .px {
    margin-right: 3px;
    width: 330px;
}
input[type="text"], input[type="password"], textarea {
    background: #FFF;
    margin: 0;
    font-size: 100%;
    border: 1px solid transparent;
    border-top-color: rgba(0,0,0,0.07);
}

.px {
    padding: 2px 4px;
    line-height: 17px;
    height: 30px;
}
.ct2_a .appl {
    margin-left: -150px;
}
.appl {
    float: left;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 6px 10px;
    width: 117px;
}
.tbn {
    margin: -6px -10px 0;
}
.tbn .mt {
    text-align: center;
}
.tbn .bbda {
    border-bottom: none;
    color: #fff;
}
.tbn .mt {
    padding: 10px;
}

.tbn ul {
    margin: 0;
}


.tbn li {
    margin: 0 0 0 -8px;
    padding: 2px 0;
    height: 40px;
    line-height: 40px;
    border-bottom: none;
    text-align: center;
}

.appl li {
    display: block;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
}

ul li {
    list-style: none;
}

#wp .appl li a {
    color: #FFF;
    display: inline;
}
.tbn li a {
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    padding-left: 8px;
    vertical-align: middle;
    position: relative;
    top: -3px;
}

.appl li a {
    text-decoration: none !important;
}
.tbn li.a {
    border: none;
    background: #8acfef;
    padding: 2px 0;
    margin: 0 0 0 -8px;
}